/****************************
Style sheet for ESAF
2022 
*****************************/

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  body {
    font-family: 'Poppins';
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
  }

  p {
      margin-bottom: 0px;
      font-size: 16px;
      color: #555;
      line-height: 25px;
      text-align: justify;
  }

  a {
      text-decoration: none!important;
      color: #7E7A7A;
  }
  
  ul {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }

h1 {
    color: #1D3556;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    border: #ffad10;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    width: fit-content;
    margin-bottom: 35px;
}

  h2 {
	 color: #1D3556; 
	font-size: 40px;
	font-weight: 600;
	padding-bottom: 5px;
	border: #ffad10;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    width: fit-content;
	margin-bottom: 35px;
  }

  h3 {
    color: #0055a6;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }



  #firma h1, #experiencia h1, #estrategias h1 {
	  width: 100%;
	  margin-top: 60px;
	  color: #fff;
  }
/*
  h1:after { 
    content:""; 
    float:left; 
    background:green; 
    width:100%; 
    height:6px; 
    border-radius: 3px;
  }
*/
  
  

    .logoL {
        display: block;
    }

    .logoS {
        display: none;
    }

    @media (max-width: 700px) { 
        #banner  {
            padding-top: 100px;
        }
    }
    
    @media (max-width: 1450px) { 
        .logoL {
            display: none;
        }
        .logoS {
            display: block;
        }
    }


/****************************
           HEADAER 
*****************************/
  

  header {
      position: fixed;
	  margin: 0;
	  margin-top: 0;
      z-index: 99999;
      width: 100%;
      background-color: transparent!important;
      height: 80px;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
  }
  
  header .navbar {
      /*Barra blanca*/
      padding: 5px 8%;	
      background: linear-gradient(70deg, #F2F2F2 30%, #F2F2F2 0%);
      z-index: 100;
      -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow:    0px 0px 5px 5px rgba(0, 0, 0, 0.3);  /* Firefox 3.5 - 3.6 */
      box-shadow:         0px 0px 5px 5px rgba(0, 0, 0, 0.3);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
  
@media (max-width: 1450px) { 
    header .navbar {
        background: linear-gradient(70deg, #F2F2F2 20%, #F2F2F2 0%);
    }
}

@media (max-width: 1100px) { 
    header .navbar {
        background: linear-gradient(70deg, #F2F2F2 18%, #F2F2F2 0%);
    }
}

@media (max-width: 990px) { 
    header .navbar {
        background: linear-gradient(70deg, #F2F2F2 22%, #F2F2F26 0%);
    }
}

@media (max-width: 600px) { 
    header .navbar {
        background: #ffffff;
    }
}


  .background-header .navbar{
      z-index: 100;
      
  }
  
  .navbar .navbar-brand {
      float: 	left;
      margin-top: 0px;
      outline: none;
  }

  .navbar .navbar-brand h2 em {
      font-style: normal;
      font-size: 20px;
  }

  #navbarResponsive {
      z-index: 999; 
  }

  .navbar-collapse {
      text-align: center;
  }

  .navbar .navbar-nav .nav-item {
      margin: 0px 15px;
  }
  
  .navbar .navbar-nav a.nav-link {
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #000000;
      transition: all 0.2s;
  }
  
  
  
  .navbar .navbar-nav a.nav-link2 {
      text-transform: capitalize;
      font-size: 18px;
      letter-spacing: 0.5px;
      color: #fff;
      transition: all 0.2s;
  }
  
  
  
  /*Item seleccionado*/
   .subnavbar .active, .nav-link:hover {
      color: #fff;
      border-bottom: 3px solid #FFAD10;
  }

  /*.navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .active>.nav-link,
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link.show,
  .navbar .navbar-nav .show>.nav-link {
      color: #fff;
      border-bottom: 3px solid #8DC044;
  }*/

  #sin {
      border-bottom: none;
  }

    /*Hamburguesa*/
  
   .navbar .navbar-toggler {
      background-color: #0055a6;
      height: 36px;
      outline: none;
      border-radius: 5px;
      position: absolute;
      right: 20px;
      top: 10px;
  }

  .navbar .navbar-toggler-icon:after {
      content: '\f0c9';
      color: #fff;
      font-size: 18px;
      line-height: 26px;
      font-family: 'FontAwesome';
  }

  #banner  {
    width: 100%;
    padding-top: 65px;
  }

  .sub-banner {
	width: 100%;
	height: 260px;
	background: #0055a6;
	display: block;
	display: flex;
   	align-items: center;
   	text-align: center;
  }


  .carousel-indicators li {
    height: 10px;
    width: 20px;
    border-radius: 15px;
	background: #E8E8E8;
  }


  .carousel-indicators .active {
    background: #FFAD10;
  }

  .carousel .slide {
    padding-top: 1px;
    height: 550h;
    width: 100%;
  }
  
  /****************************
        ATAJOS
*****************************/
  .contenedor
  {
	  width:90%;
	  max-width:90%;
	  overflow: hidden;
	  margin: auto;
	  padding: 60px;
  }
  
  .experts
  {
	  
	  display: flex;
	  justify-content: space Evenly;
	  align-items: center;
	 /* flex-wrap: wrap;*/
  }
  .cont-expert
  {
	  width:30%;
	  text-align: center;
	  margin-bottom: 20px;
  }
  .cont-expert img
  {
	  width:60%;
	  display: block;
	  margin:0 auto;
	  
	  
  }
 /****************************
        Noticias
*****************************/
  .contenedor-noti
  {
	  width:110%;
	 /* max-width:90%;*/
	  overflow: hidden;
	  margin: auto;
	padding: 20px;
	  
  }
  
  .noticias
  {
	  display: flex;
	  justify-content: space Evenly;
	  align-items: center;
	 /* flex-wrap: wrap;*/
  }
  .cont-noti
  {
	  width:30%;
	  text-align: center;
	  margin-bottom: 20px;
  }
  .cont-noti img
  {
	  justify-content: space Evenly;
	  width:100%;
	  display: block;
	  margin:0 auto;
	  
  }
  
  
   /****************************
        Egresados
*****************************/

 .contenedorE
  {
	  width:90%;
	  max-width:90%;
	  overflow: hidden;
	  margin: auto;
	  padding: 0px;
  }

  .cont-egre
  {
	  width:100%;
	  text-align: center;
	  margin-bottom: 20px;
  }
  .cont-egre img
  {
	  width:90%;
	  display: block;
	  margin:0 auto;
	  
  }
    .egresados
  {
	  display: flex;
	  justify-content: space Evenly;
	  align-items: center;
	 /* flex-wrap: wrap;*/
  }
    
    

/*Subnav*/

.subnavbar ul {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.2s;
}

.subnavbar li ul {
    display: none;
    position: absolute;
    min-width: 180px;
    border-top: 3px solid #FFAD10;
    transition: all 0.2s;
    background-color: #E9E9E9;
}


.subnavbar li:hover > ul {
    display: block;
    transition: all 0.2s;
}

.subnavbar a {
    color: #000;
    transition: all 0.2s;
}

.subnav-item li {
    
    color: #fff;
    text-align: left;
    padding: 5px 20px;
    display: block;
    transition: all 0.2s;
}

.background-header .subnavbar a {
    color: #fff;
    transition: all 0.2s;
}

.background-header .subnav-item li {
    background-color: #0055a6;
    color: #fff;
    text-align: left;
    padding: 5px 20px;
    display: block;
    transition: all 0.2s;
    transition: all 0.2s;
}


.subnav-item li:hover {
        background-color: #B7C0C8;
    transition: all 0.2s;
}


/****************************
        CAJA DEL BANNER 
*****************************/


.banbox {
    width: 650px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.banbox h5 {
    line-height: 1.5em; 
    padding-top: 15px;
    padding-bottom: 15px;
	text-align: left;
	font-weight: 300;
	line-height: 28px;
	color: #fff;
	margin-bottom: 15px;
}

.banbox a {
    color: #fff;
}

.btnBann {
    background-color: #FFAD10;
	padding: 10px 30px;
	border-radius: 30px;
	font-weight: 400;
	font-size: 20px;
}


/****************************
           INICIO
*****************************/


img.medio {
    vertical-align: middle;
}

#inicio .text-cent {
    display: flex;
   align-items: center;
   padding-bottom: 50px;;
}

#firma .text-cent, #experiencia .text-cent, #estrategias .text-cent {
    display: flex;
   align-items: center;
   padding-bottom: 50px;;
}

h5 {
    text-align: center;
    color: #1D3556;
}

 .card {
    border: none;
    border-radius: 0;
}

#inicio .adentro {
    height: 150px;
    background: #F8FBFD;
    -webkit-box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.29); 
    box-shadow: 1px 2px 7px -2px rgba(0,0,0,0.29);
    border-radius: 5px;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

#inicio .image {
	height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#inicio .adentro img {
    max-width: 70px;
}

.card-body {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.card-title {
    text-align: center;
    width: 100%;
}

.primi {
	margin-top: 30px;
}

/* Aliados */

.fun-facts h2 {
	color: #fff;
}

.fun-facts {
	margin-top: 40px;
	background-image: url(../img/Cifras.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 50px 0px;
	color: #fff;
}

.fun-facts span {
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
}

.count-area-content {
	text-align: center;
	background-color: rgba(250,250,250,0.1);
	padding: 15px 10px;
	margin: 15px 0px;
}

.count-digit {
    margin: 5px 0px;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
}
.count-title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.aliados, .convenios {
	padding: 30px 0px;
}

.aliadoes, .convenios {
	padding: 30px 0px;
}

.aliados .carousel-indicators {
	margin-bottom: -30px;
}

.convenios .carousel-indicators {
	margin-bottom: 45px;
}

.card-p {
	margin: 2px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 2px 7px -2px rgba(0,0,0,0.29); 
    box-shadow: 1px 1px 7px -2px rgba(0,0,0,0.29); 
	text-align: center;
	background: #fff;
}

.aliados img,
.convenios img {
	height: 80px;
	margin: 10px;
}

/* Responsive Aliados */
@media (max-width: 768px) {
	.fun-facts .left-content {
		margin-right: 0px;
		margin-bottom: 30px;
	}
}


.equipo {
	width: 100%;
	background: #ffffff;
	padding-top: 50px;
	padding-bottom: 50px;
}

.equipo h4{
	margin-top: 15px;
    margin-bottom: 20px;
}

.estrategias .image {
        display:flex;
        justify-content: center;
        align-items: center;
}

.estrategias{
	padding-top: 50px;
    padding-bottom: 50px;
}

.estrategias .card {
	border-radius: 15px;
	border: 4px solid #1D3556;
	padding: 10px 0;
	margin: 0 0 15px 0;
}

.estrategias img {
	max-width: 80px;
}

.estrategias h5 {
	font-size: 16px;
	font-weight: 500;
	padding: 0;
	line-height: 25px;
	color: #000;
}

.estrategias .card-body {
	margin: 10px;
	padding: 10px;
}

.estrategias .carousel-indicators {
	margin-bottom: 0;
}

.estrategias .controls {
	padding: 5px 0;
	text-align: right;
}

.estrategias .btn-floating {
	background: #8DC044;
	margin: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	color: #fff;
}


/****************************
        EXPERIENCIA 
*****************************/



.experiencia{
	padding-top: 50px;
    padding-bottom: 50px;
}

.experiencia .card {
	border-radius: 15px;
	border: 4px solid #1D3556;
	padding: 10px 0;
	margin: 0 0 15px 0;
}

.experiencia img {
	max-width: 80px;
}

.experiencia h5 {
	font-size: 16px;
	font-weight: 500;
	padding: 0;
	line-height: 25px;
	color: #000;
}

.experiencia .card-body {
	margin: 10px;
	padding: 10px;
}


.experiencia .point {
	height: 18px;
    width: 18px;
	margin-left: 48%;
    border-radius: 18px;
	background: #fff;
	border: 3px solid #0055a6;
	
}

.experiencia .carousel-indicators .active{
    background:none;
  }  

.experiencia .carousel-indicators .active .point{
    background: #0055a6;
  }

  .experiencia .carousel-indicators h4{
    margin-bottom: 10px;
	cursor: default
}

.experiencia .carousel-indicators .active h4{
    color: #0055a6;
}

.timeline {
    margin-bottom: 120px;
}



@media (max-width: 768px) {
	.experiencia .carousel-indicators{
        margin: 0;
        padding: 0;
    }  
    .experiencia .carousel-indicators h4{
        font-size: 20px;
        margin-bottom: 15px;
    }
}

.experiencia .carousel-indicators {
	top: 0px;
	margin-bottom: 15px;
}

.experiencia .controls {
	padding: 5px 0;
	text-align: right;
}

.experiencia .btn-floating {
	background: #8DC044;
	margin: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	color: #fff;
}

.experiencia hr {
	margin-bottom: -50px;
	border: solid #1D3556;
  	border-radius: 5px;
}

#experiencia .adentro h4{
    color: #1D3556;
    padding: 0;
    margin-bottom: 8px;
}

#experiencia .card-body {
    margin: 0;
    padding: 0;
}

#experiencia .adentro {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.experiencia .adentro {
    display: flex;
    align-items: center;
}

#experiencia .aliados {
	background: #ffffff ;
	-webkit-box-shadow: inset 0px 0px 9px -2px rgba(0,0,0,0.45); 
	box-shadow: inset 0px 0px 9px -2px rgb(255 255 255 / 15%);
}

#experiencia .FormasPago {
	background: #F4F9FC ;
	-webkit-box-shadow: inset 0px 0px 9px -2px rgba(0,0,0,0.45); 
	box-shadow: inset 0px 0px 9px -2px rgba(0,0,0,0.15);
}

/* Cajita azul */

.blue-cont-r {
	background: linear-gradient(70deg, #F8FBFD 52%, #1D3556 0%);
	-webkit-box-shadow: inset 0px 0px 9px -2px rgba(0,0,0,0.45); 
	box-shadow: inset 0px 0px 9px -2px rgba(0,0,0,0.15);
	margin: 80px 0;
	padding: 50px 0;
}

.blue-cont-l {
	background: linear-gradient(70deg, #1D3556 46%, #F8FBFD 0%);
	-webkit-box-shadow: inset 0px 0px 9px -2px rgba(0,0,0,0.45); 
	box-shadow: inset 0px 0px 9px -2px rgba(0,0,0,0.15);
	margin: 80px 0;
	padding: 50px 0;
}

.blue-cont p {
	line-height: 25px;
}


@media (min-width: 768px) {
	.estrategias .card {
		padding: 10px 20px 10px 0;
	}
	.experiencia .card {
		padding: 10px 20px 10px 0;
	}
}


/****************************
           FOOTER 
*****************************/

footer {
	background: #0055a6;
	color: #fff;

}

footer a {
	color: #fff;
}

.redes
{
	
	display:flex;
}

.redes li{
	display:inline;
	margin-right: 20px;;
}

.redes img {
	width: 30px;
	height: 30px;
}

footer .text-center {
	font-size: 14px;
}

footer table p {
	color: #fff;
}

footer table p {
	margin-left: 15px;
}

/***************************
        Conoce ESAF
***************************/


.titulo {
    padding-top: 100px;
    text-align: center;
    background: #238CCD;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#enfoque {
	background-size: cover;
	position: relative;
    vertical-align: bottom;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	display: -ms-flexbox;
    -webkit-box-align: center;
    /*-webkit-align-items: center;*/
    -ms-flex-align: center;
    align-items: center;
    padding-top: -100em;
    margin-top: 3%;
    margin-bottom: 5%;
}


#tabs ul li {
  margin-bottom: 22px;
  display: inline-block;
  width: 100%;
}

#tabs ul li:last-child {
  margin-bottom: 0px;
}
#tabs ul li a {
	width: 100%;
	text-align: center;
	padding: 15px 15px;
	display: inline-block;
	background-color: #F2F3F4;
  	font-size: 18px;
  	color: #1D3556;
  	letter-spacing: 0.5px;
  	font-weight: 500;
  	transition: all 0.3s;
    border-radius: 5px;
	-webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,0.31); 
	box-shadow: 2px 2px 8px -2px rgba(0,0,0,0.31);
}
#tabs ul li a i {
	float: right;
	margin-top: 5px;
}
#tabs ul .ui-tabs-active span {
  background: #faf5b2;
  border: #faf5b2;
  line-height: 90px;
  border-bottom: none;
}
#tabs ul .ui-tabs-active a {
  color: #fff;
    background-color: #FFAD10;
}
#tabs ul .ui-tabs-active span {
  color: #1e1e1e;
}
.tabs-content {
	margin-left: 30px;
    text-align: left;
    display: inline-block;
    transition: all 0.3s;
}
.tabs-content img {
	max-width: 100%;
	overflow: hidden;
    display:block;
    margin:auto;
}
.tabs-content h4 {
	font-size: 32px;
    text-align: center;
	letter-spacing: 0.25px;
    color: #238CCD;
    margin-bottom: 30px;
}
.tabs-content p {
	
    margin-bottom: 10px;
}


.caja {
    padding: 35px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 8px 2px rgba(0, 0, 0, 0.1);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 8px 2px rgba(0, 0, 0, 0.1);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.caja p {
    text-align: center;
    color: #1D3556;
    margin-bottom: 10px;
}

#center {
    justify-content: center;
    text-align: center;
}

#btncenter {
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}

#center-banner {
    justify-content: left;
    text-align: center;
    padding-left: 15px;
}

#about img {
    max-height: 100%;
    max-width: 100%;
}

#heridas img {
    max-height: 100%;
    max-width: 100%;
}

iframe {
    max-height: 100%;
    max-width: 100%;
}

#enfoque {
    max-height: 100%;
    max-width: 100%;
}

/* Responsive */
@media (max-width: 1600px) {
	.base p {
        font-size: 26px; 
    }
    .banbox {
        padding: 25px;
    }
    .banbox h5 {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btnBlue {
        width: 160px;
        height: 60px;
    }
    .btnBann {
        width: 180px;
        height: 35px;
        padding-top: 5px;
        font-weight: 400;
        font-size: 16px;
    }
    .serv h4 {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
	.base p {
        font-size: 20px; 
    }
    .banbox {
        width: 580px;
        padding: 20px;
    }
    .banbox h5 {
        font-size: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .banbox h1 {
        font-size: 30px;
    }
    .btnBlue {
        width: 100px;
        height: 60px;
    }
    .serv h4 {
        font-size: 16px;
        padding-top: 6px;
    }
}

@media (max-width: 760px) {
	.base p {
        font-size: 18px; 
        padding-left: 5%;
        padding-right: 5%;
    }
    .banbox {
        width: 550px;
        padding-top: 5px;
        padding-bottom: 8px;
        left: 4%;
    }
    .banbox h5 {
        font-size: 15px;
    }
    .banbox h1 {
        font-size: 26px;
    }
    .btnBann {
        width: 160px;
        height: 32px;
        padding-top: 5px;
        font-weight: 400;
        font-size: 15px;
    }
    .btnBlue {
        width: 150px;
        height: 60px;
    }
    .serv h4 {
        font-size: 22px;
        padding-top: 6px;
    }
    .seccion-final {
        display: none;
    }

    .seccion-final2 {
        display: flex;
    }
    .items {
        padding-bottom: 80px;
    }
    .tabs-content h4 {
        margin-top: 50px;
    }
    .container-fluid p {
        margin-top: 50px;
    }
    #heridas img {
        margin-top: 50px;
    }
    .titulo h1 {
        font-size: 30px;
    }

}

@media (max-width: 590px) {
	.base p {
        font-size: 12px; 
        padding-top: 25px;
        padding-bottom: 5px;
    }
    .banbox {
        width: 330px;
        margin-top:20px;
        padding-top: 8px;
        padding-bottom: 8px;
        left: 4%;
        top: 10%;
    }
    .banbox h5 {
        font-size: 12px;
        line-height: 1.2em; 
    }
    .banbox h1 {
        font-size: 18px;
    }
    .btnBann {
        width: 140px;
        height: 25px;
        padding-top: 3px;
        font-weight: 400;
        font-size: 13px;
    }
    .btnBlue {
        width: 90px;
        height: 60px;
    }
    .btnBlue .mail img {
        width: 50px;
        height: 40px;
    }
    .serv h4 {
        font-size: 20px;
        padding-top: 6px;
    }
    .container-fluid p {
        margin-top: 25px;
    }
    .titulo h1 {
        font-size: 25px;
    }
    .titulo {
        min-height: 210px;
    }
    
}

@media (max-width: 415px) {
    .btnBlue {
        width: 66px;
        height: 50px;
    }
    .btnBlue img {
        width: 30px;
        height: 30px;
    }
    .serv h4 {
        font-size: 16   px;
        padding-top: 6px;
    }
    
}

.centrar {
    justify-content: center;
    align-items: center;
}



.space {
    padding-right: 16px;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 15px;
    background-color: #F3F3F3; 
    border: none;
    padding-left: 16px;
    margin-left: 0;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    color: rgba(29,53,86,0.9);
    font-weight: 400;
}

.space:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.2);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */    
}

.space:focus {
    border-radius: 15px;
    border-color: red;
    border: 2px solid rgba(29, 53, 86, 0.2);
}

textarea {
    padding-top: 8px;
}

::placeholder {
    color: rgba(29,53,86,0.5);
}

label {
    color: #1D3556;
    font-weight: 450;
}

#noticias {
	margin: 80px 0;
}

#noticias h1{
	display: flex;
	align-items: center;
	font-size: 50px;
	text-align: center;
	color: #1D3556;
}

.centrar {
	display: flex;
	align-items: center;
}

/****************************
           CONTACTO 
*****************************/

#contacto {
    margin: 50px 0;
}


#contacto a {
    background: #FFAD10;
    padding-left: 25px;
    padding-right: 25px;
    height: 65px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.btnForm {
    background: #FFAD10;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 5px 0;
    color: #fff;
    align-items: center;
    font-weight: 400;
}
